@page
@using StudentsClubsWeb.Utilities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RegisterModel
@{
    ViewData["Title"] = "التسجيل";
    TempData[SD.NavActive.Profile] = SD.NavActive.Activee;
}

@* عدلي هنا *@

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="~/page/account/account.css" />
    
    <style>
        input {
            text-align: start;
            unicode-bidi: plaintext;
        }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="form__wrapper">
        <form class="form w-card aside-card" method="post">
          <h1 class="form__title">تسجيل حساب جديد</h1>
            <div class="form__inputs">
                <div class="field">
                    <label class="field__label">اسم العرض</label>
                    <div class="field__wrapper w-card aside-card">
                        <span class="field__icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                        <input
                            class="field__input"
                            type="text"
                            placeholder="ادخل اسم العرض"
                            required
                            value = "@NameGenerator.GenerateName()"
                            asp-for="Input.DisplayUsername" />
                        <span asp-validation-for="Input.DisplayUsername" class="text-danger"></span>

                    </div>
                </div>
                <div class="field">
                    <label class="field__label">الاسم (مخفي للزوار)</label>
                    <div class="field__wrapper w-card aside-card">
                        <span class="field__icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                        <input
                            class="field__input"
                            type="text"
                            placeholder="ادخل الاسم الاول"
                            required
                            asp-for="Input.FirstName"/>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        <input
                            class="field__input"
                            type="text"
                            placeholder="ادخل الاسم الاخير"
                            required
                            asp-for="Input.LastName"/>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>

                    </div>
                </div>

                <div class="field">
                    <label class="field__label">البريد الالكتروني</label>
                    <div class="field__wrapper w-card aside-card">
                        <span class="field__icon">
                            <ion-icon name="mail-outline"></ion-icon>
                        </span>
                        <input
                            class="field__input"
                            type="email"
                            placeholder="ادخل البريد الالكتروني"
                            required
                            asp-for="Input.Email"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>

                    </div>
                </div>
                <div class="field">
                    <label class="field__label">رقم الهاتف (اختياري)</label>

                    <div class="field__wrapper w-card aside-card">
                        <span class="field__icon">
                            <ion-icon name="call-outline"></ion-icon>
                        </span>
                        <input
                            class="field__input"
                            type="tel"
                            placeholder="ادخل رقم الهاتف"
                            asp-for="Input.PhoneNumber"/>
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="field">
                    <label class="field__label">كلمة المرور</label>
                    <div class="field__wrapper w-card aside-card">
                        <span class="field__icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                        <input
                            id="field-password"
                            class="field__input"
                            type="password"
                            placeholder="ادخل كملة المرور"
                            required
                            asp-for="Input.Password"/>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>

                        <span class="field__icon">
                            <i class="bx bx-hide password-icon"></i>
                        </span>
                    </div>
                </div>
            </div>
          <div class="form__footer">
            <a asp-area="Identity" asp-page="/Account/Login" class="form__recover">عندك حساب؟</a>
            <button type="submit" class="form__btn w-btn" style="color: white;">تسجيل</button>
          </div>
        </form>
      </div>
    </div>
    <script src="~/page/account/account.js"></script>
  </body>
</html>


@* الى هنا *@

@* <h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            <p>
                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
            </p>
        </form>
    </div>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
