@using StudentsClubsWeb.Utilities
@{
    Layout = "_HomeLayout";
    TempData["Title"] = "الرئيسية";
    TempData[SD.NavActive.Home] = SD.NavActive.Activee;
}


<article>
    <section class="hero" id="home" aria-label="home">
        <div class="container">
            <div class="hero-content text-center" dir="rtl">
                @* <p class="hero-subtitle">Hello Everyone!</p> *@

                <h1 class="headline headline-1 section-title kfum-font">
                    Space <span class="span kfum-font">Clubs</span>
                    <br />
                    <span class="span kfum-font">فضاء</span> الأندية
                </h1>

                <p class="hero-text">
                    يقدم موقعنا فرصة للطلاب للبحث عن الأندية الطلابية
                    والتواصل معها بكل سهولة. يمكن للمستخدمين إنشاء صفحة لناديهم
                    والسماح للآخرين بالانضمام إلى النادي، كما يمكنهم نشر مشاركاتهم
                    على صفحة النادي والتواصل مع باقي الأعضاء.
                    وبالإضافة إلى ذلك، يمكن لمديري النادي إدارة الأعضاء والمشاركات بكل سهولة.
                    نحن نؤمن بأن الانضمام إلى نادي طلابي هو أمر مهم لتنمية المهارات والمصالح الشخصية،
                    وهو ما يعزز التجربة الأكاديمية ويعزز الروابط الاجتماعية بين الطلاب في الجامعة
                </p>
                <div class="btn-group" dir="ltr">
                    <a class="btn w-btn w-btn-primary-revert btn-hero" asp-area="Student" asp-controller="Club" asp-action="Create">
                        سجل ناديك
                    </a>
                    <a class="btn w-btn w-btn-primary btn-hero" asp-area="Student" asp-controller="Club" asp-action="Index">
                        تصفح الأندية
                    </a>
                </div>
            </div>
            <img src="page/index/images/shadow-1.svg" width="1000" height="1500" alt="" class="hero-bg hero-bg-1 noselect">

            <img src="page/index/images/shadow-2.svg" width="500" height="500" alt="" class="hero-bg hero-bg-2 noselect">
        </div>
    </section>
    <br /><br /><br /><br /><br />
    <div id="featuredDiv">

    </div>
</article>

<footer>
    <div class="w-container">
        <div class="w-card footer">
            <div class="section footer-top" dir="rtl">
                <div class="footer-brand">
                    @* <a href="#" class="logo"> *@
                    @*     <img src="./assets/images/" *@
                    @*          width="119" *@
                    @*          height="37" *@
                    @*          loading="lazy" *@
                    @*          alt="clubs logo" /> *@
                    @* </a> *@
                    @* <br /><br /> *@
                    
                    <p class="footer-list-title">
                        من نحن
                    </p>
                            
                    <p class="footer-text">
                        نحن فريق من طالبين من كلية الحاسب في جامعة أم القرى في السنة الأولى،
                        وقد طورنا هذا الموقع بشغف وحماس.
                        نحن مهتمون ببرمجة الويب ولدينا خبرة في هذا المجال،
                        حيث أن أحدنا متخصص في الباكند والآخر متخصص في الفرونتند.
                        نحن نؤمن بأن الانضمام إلى الأندية الطلابية يساعد في تنمية المهارات الشخصية والاجتماعية،
                        ويعزز التجربة الأكاديمية.
                        ونحن نعمل جاهدين لجعل هذا الموقع سهل الاستخدام وفعالًا لجميع المستخدمين. شكرًا لزيارتكم لموقعنا.
                    </p>
                </div>

                <div class="footer-list">
                    @* <p class="footer-list-title">Links</p> *@
                    @* *@
                    @* <ul> *@
                    @*     <li> *@
                    @*         <a href="#" class="footer-link hover-2">bla bla</a> *@
                    @*     </li> *@
                    @* </ul> *@
                </div>
                    
                <form action="https://formsubmit.co/sdbtwa@gmail.com" method="POST">
                    <div class="footer-list">
                        <p class="footer-list-title">تواصل معنا</p>

                        @* <p class="footer-text"> *@
                        @*     Sign up to be first to receive the latest stories inspiring us, *@
                        @*     case studies, and industry news. *@
                        @* </p> *@

                        <div class="input-wrapper">
                            <input type="text"
                                   name="name"
                                   placeholder="الاسم"
                                   required
                                   class="input-field"
                                   autocomplete="off" />

                            <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
                        </div>

                        <div class="input-wrapper">
                            <input type="email"
                                   name="email"
                                   placeholder="البريد الالكتروني"
                                   required
                                   class="input-field"
                                   autocomplete="off" />

                            <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
                        </div>
                            
                        <div class="input-wrapper">
                            <input
                                name="content"
                                placeholder="الرسالة"
                                required
                                class="input-field"
                                autocomplete="off"
                                tyle="height:100px;" />

                            <ion-icon name="document-text-outline"></ion-icon>
                        </div>

                        <button type="submit" class="w-btn w-btn-primary">
                            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                            <span class="span">ارسال</span>

                        </button>
                    </div>
                </form>
            </div>

            <div class="footer-bottom">
                <p class="copyright">
                    &copy; Developed by
                    <a href="#" class="copyright-link">clubsspace.</a>
                </p>

                <ul class="social-list">
                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>

                            <span class="span">Twitter</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-linkedin"></ion-icon>

                            <span class="span">LinkedIn</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-instagram"></ion-icon>

                            <span class="span">Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</footer>

@section Scripts
{
    <script>
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetFeatured", "Home", new {area="Student"})',
            //beforeSend: function(xhr) {
            //    xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
            //},
            //contentType: 'application/json; charset=utf-8"',
            //data: jsonData,
            success: function(result) {
                $("#featuredDiv").html(result);
            },
            error: function(error) {
                console.log(error);
            }
        });
    </script>
}
