<article>
    <section class="hero" id="home" aria-label="home">
        <div class="container">
            <div class="hero-content text-center" dir="rtl">
                @* <p class="hero-subtitle">Hello Everyone!</p> *@

                <h1 class="headline headline-1 section-title kfum-font">
                    Space <span class="span kfum-font">Clubs</span>
                    <br />
                    <span class="span kfum-font">فضاء</span> الأندية
                </h1>

                <p class="hero-text">
                    يقدم موقعنا فرصة للطلاب للبحث عن الأندية الطلابية
                    والتواصل معها بكل سهولة. يمكن للمستخدمين إنشاء صفحة لناديهم
                    والسماح للآخرين بالانضمام إلى النادي، كما يمكنهم نشر مشاركاتهم
                    على صفحة النادي والتواصل مع باقي الأعضاء.
                    وبالإضافة إلى ذلك، يمكن لمديري النادي إدارة الأعضاء والمشاركات بكل سهولة.
                    نحن نؤمن بأن الانضمام إلى نادي طلابي هو أمر مهم لتنمية المهارات والمصالح الشخصية،
                    وهو ما يعزز التجربة الأكاديمية ويعزز الروابط الاجتماعية بين الطلاب في الجامعة
                </p>
                <div class="btn-group" dir="ltr">
                    <a class="btn w-btn w-btn-primary-revert btn-hero" asp-area="Student" asp-controller="Club" asp-action="Create">
                        سجل ناديك
                    </a>
                    <a class="btn w-btn w-btn-primary btn-hero" asp-area="Student" asp-controller="Club" asp-action="Index">
                        تصفح الأندية
                    </a>
                </div>
            </div>
            <img src="page/index/images/shadow-1.svg" width="1000" height="1500" alt="" class="hero-bg hero-bg-1 noselect">

            <img src="page/index/images/shadow-2.svg" width="500" height="500" alt="" class="hero-bg hero-bg-2 noselect">
        </div>
    </section>
    <br /><br /><br /><br /><br />
    <section class="section recent-post"
             id="recent"
             aria-labelledby="recent-label">
        <div class="w-container" dir="rtl">
            <div class="post-main">
                <h2 class="headline headline-2 section-title">
                    <span class="span">
                        افضل المشاركات
                    </span>
                </h2>

                <p class="section-text">
                    Don't miss the latest trends
                </p>

                <ul class="grid-list">
                    <li>
                        <div class="recent-post-card">
                            <figure class="card-banner img-holder"
                                    style="--width: 271; --height: 258">
                                <!-- <img
                                  src="./assets/images/"
                                  width="271"
                                  height="258"
                                  loading="lazy"
                                  alt="Tips"
                                  class="img-cover"
                                /> -->
                            </figure>

                            <div class="card-content">
                                <a href="#" class="card-badge">Tips</a>

                                <h3 class="headline headline-3 card-title">
                                    <a href="#" class="link hover-2">Helpful Tips for ..</a>
                                </h3>

                                <p class="w-card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Recusandae asperiores dolorem explicabo beatae
                                    quis corrupti voluptate in blanditiis repellendus
                                    voluptatum.
                                </p>

                                <div class="card-wrapper">
                                    <div class="card-tag">
                                        <a href="#" class="span hover-2">#Computer_science</a>

                                        <a href="#" class="span hover-2">#Programming</a>
                                    </div>

                                    <div class="wrapper">
                                        <ion-icon name="time-outline"
                                                  aria-hidden="true"></ion-icon>

                                        <span class="span">3 mins read</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>

                @* <nav aria-label="pagination" class="pagination"> *@
                @*     <a href="#" class="pagination-btn" aria-label="previous page"> *@
                @*         <ion-icon name="arrow-back" aria-hidden="true"></ion-icon> *@
                @*     </a> *@
                @* *@
                @*     <a href="#" class="pagination-btn">1</a> *@
                @*     <a href="#" class="pagination-btn">2</a> *@
                @*     <a href="#" class="pagination-btn">3</a> *@
                @*     <a href="#" class="pagination-btn" aria-label="more page">...</a> *@
                @* *@
                @*     <a href="#" class="pagination-btn" aria-label="next page"> *@
                @*         <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon> *@
                @*     </a> *@
                @* </nav> *@
            </div>

            <div class="post-aside grid-list">
                <div class="w-card aside-card">
                    <h3 class="headline headline-2 aside-title">
                        <span class="span">
                            اندية مشهورة
                        </span>
                    </h3>

                    <ul class="comment-list">
                        <li>
                            <div class="comment-card">
                                <div class="profile-card">
                                    <figure class="profile-banner img-holder">
                                        <img src="./assets/images/"
                                             width="32"
                                             height="32"
                                             loading="lazy"
                                             alt="Programming "/>
                                    </figure>

                                    <div>
                                        <h4 class="headline headline-4 card-title">
                                            <a href="#" class="link hover-2">Computer Science Club</a>
                                        </h4>
                                        <!-- <p class="card-title">Programming club</p> -->
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="w-card aside-card">
                    <h3 class="headline headline-2 aside-title">
                        <span class="span">علامات مشهورة</span>
                    </h3>

                    <ul class="popular-list">
                        <li>
                            <div class="popular-card">
                                <div class="card-content">
                                    <h4 class="headline headline-4 card-title">
                                        <a href="#" class="link hover-2">#Computer_science</a>
                                    </h4>
                                    <br />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</article>