@{
    ViewData["Title"] = "الرئيسية";
}

<div class="mt-3">
    <h1 class="display-4">مرحبا!</h1>
    <p>
        موقعنا NAME يساعد على العثور على النوادي المناسبة لك.
        <br />
        او اذا كنت من مديرين النوادي، تقدر تنشئ صفحة لناديك وتديره، مثل تسجيل الاعضاء وتوزيع المهام وحساب الساعات التطوعية ونشر الاخبار العامة والخاصة لأعضاء النادي
    </p>
</div>
<hr />
<div class="row gap-2">
    <div class="d-grid row gap-2 col-lg-6">
        <a class="btn btn-lg btn-primary">انشئ ناديك</a>
    </div>
    <div class="d-grid row gap-2 col-lg-6">
        <a class="btn btn-lg btn-primary">تصفح النوادي</a>
    </div>
</div>
