<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Clubs Space</title>
    @* <meta name="title" content="Clubs Space" /> *@
    @* <meta name="description" content="This is a bla bla" /> *@
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/bootswatch.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/page/index/index.css">
</head>
<body class="cairo-font">
    <section class="wrapper">
        <div class="stars"></div>
        <div class="stars2"></div>
        <div class="stars3"></div>
    </section>
    <header>
        <partial name="_CustomNav"/>
    </header>
    <main class="">
        @RenderBody()
    </main>

@if(ViewBag.DisableFooter == null) {
<footer>
    <div class="w-container">
        <div class="w-card footer">
            <div class="section footer-top" dir="rtl">
                <div class="footer-brand">
                    @* <a href="#" class="logo"> *@
                    @*     <img src="./assets/images/" *@
                    @*          width="119" *@
                    @*          height="37" *@
                    @*          loading="lazy" *@
                    @*          alt="clubs logo" /> *@
                    @* </a> *@
                    @* <br /><br /> *@
                    
                    <p class="footer-list-title">
                        من نحن
                    </p>
                            
                    <p class="footer-text">
                        نحن فريق من طالبين من كلية الحاسب في جامعة أم القرى في السنة الأولى،
                        وقد طورنا هذا الموقع بشغف وحماس.
                        نحن مهتمون ببرمجة الويب ولدينا خبرة في هذا المجال،
                        حيث أن أحدنا متخصص في الباكند والآخر متخصص في الفرونتند.
                        نحن نؤمن بأن الانضمام إلى الأندية الطلابية يساعد في تنمية المهارات الشخصية والاجتماعية،
                        ويعزز التجربة الأكاديمية.
                        ونحن نعمل جاهدين لجعل هذا الموقع سهل الاستخدام وفعالًا لجميع المستخدمين. شكرًا لزيارتكم لموقعنا.
                    </p>
                </div>

                <div class="footer-list">
                    @* <p class="footer-list-title">Links</p> *@
                    @* *@
                    @* <ul> *@
                    @*     <li> *@
                    @*         <a href="#" class="footer-link hover-2">bla bla</a> *@
                    @*     </li> *@
                    @* </ul> *@
                </div>
                    
                <form action="https://formsubmit.co/sdbtwa@gmail.com" method="POST">
                    <div class="footer-list">
                        <p class="footer-list-title">تواصل معنا</p>

                        @* <p class="footer-text"> *@
                        @*     Sign up to be first to receive the latest stories inspiring us, *@
                        @*     case studies, and industry news. *@
                        @* </p> *@

                        <div class="input-wrapper">
                            <input type="text"
                                   name="name"
                                   placeholder="الاسم"
                                   required
                                   class="input-field"
                                   autocomplete="off" />

                            <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
                        </div>

                        <div class="input-wrapper">
                            <input type="email"
                                   name="email"
                                   placeholder="البريد الالكتروني"
                                   required
                                   class="input-field"
                                   autocomplete="off" />

                            <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
                        </div>
                            
                        <div class="input-wrapper">
                            <input
                                name="content"
                                placeholder="الرسالة"
                                required
                                class="input-field"
                                autocomplete="off"
                                tyle="height:100px;" />

                            <ion-icon name="document-text-outline"></ion-icon>
                        </div>

                        <button type="submit" class="w-btn w-btn-primary">
                            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                            <span class="span">ارسال</span>

                        </button>
                    </div>
                </form>
            </div>

            <div class="footer-bottom">
                <p class="copyright">
                    &copy; Developed by
                    <a href="#" class="copyright-link">clubsspace.</a>
                </p>

                <ul class="social-list">
                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>

                            <span class="span">Twitter</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-linkedin"></ion-icon>

                            <span class="span">LinkedIn</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-instagram"></ion-icon>

                            <span class="span">Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</footer>
}

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<script src="~/page/index/index.js"></script>
<script type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
