<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Clubs Space</title>
    @* <meta name="title" content="Clubs Space" /> *@
    @* <meta name="description" content="This is a bla bla" /> *@
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/bootswatch.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/page/index/index.css">
    <link rel="stylesheet" href="~/page/index/tour.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shepherd.js@11.1.1/dist/css/shepherd.css"/>
</head>
<body class="cairo-font">
    <section class="wrapper">
        <div class="stars"></div>
        <div class="stars2"></div>
        <div class="stars3"></div>
    </section>
    <header>
        <partial name="_CustomNav"/>
    </header>
    <main class="">
        @RenderBody()
    </main>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<script src="~/page/index/index.js"></script>
        
<script>
    window.onload = function () {
        window.scrollTo(0, 0);
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/shepherd.js@11.1.1/dist/js/shepherd.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
