<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clubs Space</title>
    <meta name="title" content="Clubs Space" />
    <meta name="description" content="This is a bla bla" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/page/index/index.css">
</head>
<body>
    <section class="wrapper">
        <div class="stars"></div>
        <div class="stars2"></div>
        <div class="stars3"></div>
    </section>
    <header>
        <partial name="_CustomNav"/>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="container">
            <div class="card footer">
                <div class="section footer-top">
                    @* <div class="footer-brand"> *@
                    @*     <a href="#" class="logo"> *@
                    @*         <img src="./assets/images/" *@
                    @*              width="119" *@
                    @*              height="37" *@
                    @*              loading="lazy" *@
                    @*              alt="clubs logo" /> *@
                    @*     </a> *@
                    @*     <br /><br /> *@
                    @* *@
                    @*     <p class="footer-list-title">About Us</p> *@
                    @* *@
                    @*     <p class="footer-text"> *@
                    @*         Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, *@
                    @*         iure quibusdam? Veritatis molestias amet ipsam placeat minima *@
                    @*         corporis veniam porro. *@
                    @*     </p> *@
                    @* </div> *@

                    @* <div class="footer-list"> *@
                    @*     <p class="footer-list-title">Links</p> *@
                    @* *@
                    @*     <ul> *@
                    @*         <li> *@
                    @*             <a href="#" class="footer-link hover-2">bla bla</a> *@
                    @*         </li> *@
                    @*     </ul> *@
                    @* </div> *@

                    <div class="footer-list">
                        <p class="footer-list-title">Contact Us</p>

                        <p class="footer-text">
                            Sign up to be first to receive the latest stories inspiring us,
                            case studies, and industry news.
                        </p>

                        <div class="input-wrapper">
                            <input type="text"
                                   name="name"
                                   placeholder="Your name"
                                   required
                                   class="input-field"
                                   autocomplete="off" />

                            <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
                        </div>

                        <div class="input-wrapper">
                            <input type="email"
                                   name="email_address"
                                   placeholder="Emaill address"
                                   required
                                   class="input-field"
                                   autocomplete="off" />

                            <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
                        </div>

                        <a href="#" class="btn btn-primary">
                            <span class="span">Sign up</span>

                            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                        </a>
                    </div>
                </div>

                <div class="footer-bottom">
                    <p class="copyright">
                        &copy; Developed by
                        <a href="#" class="copyright-link">clubsspace.</a>
                    </p>

                    <ul class="social-list">
                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-twitter"></ion-icon>

                                <span class="span">Twitter</span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-linkedin"></ion-icon>

                                <span class="span">LinkedIn</span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-instagram"></ion-icon>

                                <span class="span">Instagram</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </footer>
    <script src="~/page/index/index.js"></script>
    <script type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
