@{
    Layout = "_HomeLayout";
}


<section class="section py-5" dir="rtl">
    <div class="w-container">
        @RenderBody()
    </div>
</section>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}