html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@media only screen and (max-width: 992px) {
    .ltr-sm {
        direction: ltr;
    }

    .rtl-sm {
        direction: rtl;
    }

    .dir-revert-sm {
        direction: revert;
    }
}
@media only screen and (min-width: 992px) {
    .ltr-bg {
        direction: ltr;
    }

    .rtl-bg {
        direction: rtl;
    }

    .dir-revert-bg {
        direction: revert;
    }
}

.vertical-center-container {
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.vertical-bottom {
    margin: 0;
    position: absolute;
    top: 70%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}