@using StudentsClubsWeb.Utilities
@model StudentsClubsWeb.Areas.Student.Models.CreateClubVM

<h2 class="mt-4">
    سجل نادي جديد
</h2>
<form method="post">
    <div class="row">
        <div class="col-lg-4 col-md-6 mt-2">
            <label asp-for="Club.Name" class="form-label">اسم النادي</label>
            <input asp-for="Club.Name" type="text" class="form-control" placeholder="ادخل الاسم">
            <span asp-validation-for="Club.Name" class="text-danger"></span>
            @* <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> *@
        </div>
        <div class="col-lg-4 col-md-6 mt-2">
            <label class="form-label">قائمة العلامات السابقة</label>
            <select id="tagSelect" class="form-select" onchange="appendTagToInput(this);">
                <option disabled selected>اختر اي علامة لاضافتها</option>
                @{
                    var tagsEnumerable = Model.TagsList.Where(t => t.Group == SD.TagGroup.Club).Select(t => t.Title);
                    var tags = tagsEnumerable.ToList();
                    string[] defaultTags =
                    {
                        "ديني",
                        "رياضي",
                        "ترفيهي",
                        "غير رسمي",
                        "رسمي"
                    };
                    tags.AddRange(defaultTags);
                    tags = tags.Distinct().ToList();
                    foreach (var tag in tags)
                    {
                        <option>@tag</option>
                    }
                }
            </select>
        </div>
        <div class="col-lg-4 col-md-6 mt-2">
            <label asp-for="Tags" class="form-label">ادخل كل علامة وافصل بينهم باستعمال "-"</label>
            <input asp-for="Tags" id="tagInput" class="form-control" placeholder="حاسب - ترفيهي - علمي">
            <span asp-validation-for="Tags" class="text-danger"></span>
        </div>
        <div class="col-lg-12 col-md-12 mt-2">
            <label asp-for="Club.Description" class="form-label">وصف النادي</label>
            <textarea asp-for="Club.Description" class="form-control" placeholder="ادخل الوصف"></textarea>
            <span asp-validation-for="Club.Description" class="text-danger"></span>
        </div>
    </div>
    <div class="row my-2 mx-0">
        <button type="submit" class="form-control btn btn-primary">
            تسجيل
        </button>
    </div>
</form>

        
        
@section Scripts
{
    <script>
        function appendTagToInput(caller) {
            let tagInput = document.getElementById('tagInput');
            tagInput.value += caller.value + " - ";
            caller.selectedIndex = 0;
        }
    </script>
    <partial name="_ValidationScriptsPartial"/>
}
